<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">shopin.com</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="Custom-pipe">Custom-Pipe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="Phone-Formater">Phone-Formater</a>
                </li> -->
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" routerLink="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Products
            </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="Display-Products">View Products</a></li>
                        <li><a class="dropdown-item" routerLink="Add-Products">Add Products</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Update Products</a></li>
                    </ul>
                </li> -->
                <li class="nav-item" *ngIf="!auth.isLoggedIn()">
                    <a class="nav-link active" href="#" tabindex="-1" routerLink="Display-Products" aria-disabled="true">View Products</a>
                </li>
                <li class="nav-item" *ngIf="auth.isAdmin() && auth.isLoggedIn()">
                    <a class="nav-link active" href="#" tabindex="-1" routerLink="Add-Products" aria-disabled="true">Add Products</a>
                </li>
            </ul>
            <form class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item" *ngIf="auth.isLoggedIn"><a class="nav-link  active" aria-current="page" routerLink="login"> Login </a></li>
                    <li class="nav-item" *ngIf="auth.isLoggedIn"><a class="nav-link active" aria-current="page" routerLink="register"> Register </a></li>
                    <li class="nav-item" *ngIf="!auth.isLoggedIn"><a class="nav-link active" aria-current="page" (click)="auth.logout()"> Logout </a></li>
                </ul>
            </form>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>